@page "/debug"


<p>Tässä on navroom.</p>
<nav>
    <button @onclick='() => NavigateTo("/home")'>Home</button>
    <button @onclick='() => NavigateTo("/paikka2")'>paikka1</button>
    <button @onclick='() => NavigateTo("/")'>StartGame</button>
    <button @onclick='() => NavigateTo("/VaaraPaikka")'>VaaraPaikka</button>
</nav>

@code {
    private void NavigateTo(string url)
    {
        NavigationManager?.NavigateTo(url);
    }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }
}