@page "/ovi"

<PageTitle>Ovi</PageTitle>

<div class="main-container">
    <div class="text-container">
        <h2>Tervetuloa ovelle</h2>
        <p>T채ss채 paikassa on jotain mielenkiintoista.</p>
    </div>

    <div class="button-container">
        <img id="continue-button" class="continue-button" src="6188818.png" alt="Continue" style="display: none;"
            onclick="handleContinueClick()" />

        <button @onclick="handleContinueClick" class="continue-button">Jatka</button>
        <button @onclick="handleContinueClick2" class="continue-button">Jatka2</button>
        <button @onclick="GoBack" class="continue-button">Palaa edelliselle sivulle</button>
        <!-- Lis채tty paluu-nappi -->

    </div>

</div>

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("/Pictures/The_door.jpg");
        /* P채ivitetty polku taustakuvalle */
        background-size: cover;
        background-position: center;
    }

    .text-container {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
        /* Add some space between text and buttons */
    }

    .button-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .continue-button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .continue-button:hover {
        /* Add hover styles here */
    }
</style>

@code {
    private void handleContinueClick()
    {
        NavigationManager.NavigateTo("/mokki");
    }

    private void handleContinueClick2()
    {
        NavigationManager.NavigateTo("/paikka3");
    }

    private void GoBack()
    {
        JS.InvokeVoidAsync("goBack");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }
}

<script>
    function goBack() {
        window.history.back();
    }
</script>