@page "/VaaraPaikka"

<PageTitle>Väärä paikka</PageTitle>

<div class="main-container">
    <div class="text-container">
        <h2>Tervetuloa paikkaan 1</h2>
        <p>Tässä paikassa on jotain mielenkiintoista.</p>
    </div>
    <div class="button-container">
        <img id="continue-button" class="continue-button" src="6188818.png" alt="Continue" style="display: none;"
            onclick="handleContinueClick()" />
    </div>
</div>

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/Paikka1");
    }
}